@charset "utf-8";
/* CSS Document */
#Mian{
	width:100%;
	min-height:400px;
}
#MianRight{
	width:100%;
	min-height:300px;
	float:left;
	display:inline;
	border-top:#d5d5d5 solid 1px;
}
#MianRight_mian{
	width:100%;
	height:5px;
	background:#FFF;
	overflow:auto;
}
.MianRight_mianT{
	width:98%;
	/*height:300px;*/
	margin:0 auto 0;
	padding-top:10px;
}
.MianRight_mianTitle{
	width:100%;
	height:32px;
	line-height:32px;
	font-size:16px;
	font-weight:bold;
}
.MianRight_mianTitle_userNav{
	width:100%;
	height:31px;
	line-height:31px;
	background:#f6f6f6;
	border-bottom:#74a702 solid 1px;
}
.MianRight_mianTitle_userNavTitle{
	width:90px;
	height:31px;
	line-height:31px;
	text-align:center;
	display:inline;
	float:left;
	background:#74a702;
	color:#FFF;
}
.MianRight_mianTitle_userNavTitle a{
	display:block;
	width:90px;
	height:31px;
	line-height:31px;
	text-align:center;
	background:#f2f6f7;
}
.MianRight_mianTitle_userNavTitle a:link{
	color:#5b8400;
	text-decoration:none;
}
.MianRight_mianTitle_userNavTitle a:visited{
	color:#5b8400;
	text-decoration:none;
}
.MianRight_mianTitle_userNavTitle a:hover{
	color:#FFF;
	text-decoration:none;
	background:#8bcc00;
}
.MianRight_mianTitle_userNavK{
	width:1px;
	height:12px;
	line-height:12px;
	display:inline;
	float:left;
	background:#a9a2a2;
	margin-top:10px;
}
.MianRight_mianN{
	width:100%;
}
.MianRight_mianN table{
	margin-top:10px;
}
.MianRight_mianN table tr td{
	height:36px;
	padding:10px 0;
}
.MianRight_mianN_td1{
	text-align:right;
}
.MianRight_mianN_td2{
	width:304px;
	height:34px;
	border:#d3d3d3 solid 1px;
}
.MianRight_mianN_td2 input{
	border:0;
	width:304px;
	height:30px;
	line-height:30px;
}
.MianRight_mianN_td3{
	height:15px;
	line-height:15px;
	padding-left:10px;
}
.MianRight_mianN_td3Left{
	width:16px;
	height:15px;
	float:left;
	background:url(../images/x_ico.png) no-repeat;
}
.MianRight_mianN_td3Left1{
	width:16px;
	height:15px;
	float:left;
	background:url(../images/g_ico.png) no-repeat;
}
.MianRight_mianN_td3Right{
	width:60px;
	height:15px;
	line-height:15px;
	float:left;
	text-align:center;
	color:#949494;
}
.MianRight_mianN_td4{
	width:100px;
	height:21px;
	padding-left:10px;
}
.MianRight_mianN_td4 input{
	width:100px;
	height:21px;
	border:0;
	background:url(../images/button.jpg) no-repeat;
}
.MianRight_mianN_td5{
	width:100px;
	height:21px;
	padding-left:10px;
}
.MianRight_mianN_td5 input{
	width:100px;
	height:21px;
	border:0;
	background:url(../images/button.jpg) no-repeat;
	color:#929292;
}
.MianRight_mianTitlesNav{
	width:100%;
	/*height:81px;*/
}
.MianRight_mianTitlesNavBJ{
	width:100%;
	height:34px;
	line-height:34px;
	font-size:16px;
	font-weight:bold;
	color:#000;
	background:url(../images/tj_bj.gif) repeat-x;
	margin-top:10px;
}
.MianRight_mianTitlesNavBJ1{
	width:100%;
	height:50px;
	line-height:50px;
	font-size:16px;
	font-weight:bold;
	color:#000;
}
.MianRight_mianTitlesNavBJn{
	width:100%;
	border:#bfbfbf solid 1px;
}
.MianRight_mianTitlesNavBJn{
	width:100%;
	border:#bfbfbf solid 1px;
}
.MianRight_mianTitlesNavBJn1{
	width:100%;
}
.MianRight_mianTitlesNavBJn tr td a:link{
	color:#a2c314;
	text-decoration:none;
}
.MianRight_mianTitlesNavBJn tr td a:visited{
	color:#a2c314;
	text-decoration:none;
}
.MianRight_mianTitlesNavBJn tr td a:hover{
	color:#F00;
	text-decoration:none;
}
.MianRight_mianTitlesNavBJn_title{
	width:100%;
	height:48px;
	line-height:48px;
	font-size:18px;
	font-weight:bold;
}
.MianRight_mianTitlesNavBJn_title img{
	margin-left:10px;
}
.MianRight_mianTitlesNavBJn_mian{
	width:100%;
	height:30px;
	line-height:30px;
	font-size:12px;
	margin:10px 0;
}
.MianRight_mianTitlesNavBJn_mianSpantitle{
	width:91px;
	height:30px;
	float:left;
	text-align:right;
}
.MianRight_mianTitlesNavBJn_mian1{
	width:100%;
	height:77px;
	margin:10px 0;
}
.MianRight_mianTitlesNavBJn_mianSpantitle1{
	width:91px;
	height:77px;
	line-height:77px;
	float:left;
	text-align:right;
}
.MianRight_mianTitlesNavBJn_mianSpangh{
	width:500px;
	height:30px;
	float:left;
	position:relative;
}
.MianRight_mianTitlesNavBJn_mianSpangh_button{
	width:107px;
	height:37px;
	float:left;
	display:inline;
	margin-left:10px;
}
.MianRight_mianTitlesNavBJn_mianSpangh_button input{
	width:107px;
	height:37px;
	background:url(../images/bc_button.png) no-repeat;
	border:0;
}
.MianRight_mianTitlesNavBJn_mianSpangh_text{
	width:100px;
	height:37px;
	line-height:37px;
	float:left;
	display:inline;
	font-weight:bold;
	font-size:14px;
	text-align:center;
}
.MianRight_mianTitlesNavBJn_mianSpangh_text a:link{
	color:#409017;
	text-decoration:none;
}
.MianRight_mianTitlesNavBJn_mianSpangh_text a:visited{
	color:#409017;
	text-decoration:none;
}
.MianRight_mianTitlesNavBJn_mianSpangh_text a:hover{
	color:#409017;
	text-decoration:none;
}
.MianRight_mianTitlesNavBJn_mianSpangh form{
	margin-left:10px;
}
.MianRight_mianTitlesNavBJn_mianSpangh1{
	width:500px;
	height:77px;
	float:left;
	position:relative;
}
.MianRight_mianTitlesNavBJn_mianSpangh_dq{
	width:147px;
	height:28px;
	border:#d3d3d3 solid 1px;
	float:left;
	display:inline;
	margin-left:10px;
}
.MianRight_mianTitlesNavBJn_mianSpangh_dq input{
	width:139px;
	height:25px;
	line-height:25px;
	border:0;
	padding-left:7px;
	color:#7c7c7c;
}
.MianRight_mianTitlesNavBJn_mianSpangh_dq1{
	width:465px;
	height:75px;
	border:#d3d3d3 solid 1px;
	float:left;
	display:inline;
	margin-left:10px;
}
.MianRight_mianTitlesNavBJn_mianSpangh_dq1 textarea{
	width:456px;
	height:70px;
	border:0;
	padding-left:7px;
	padding-top:3px;
	color:#7c7c7c;
	font-size:12px;
}
.MianRight_mianTitlesNavBJn_mianSpangh_cs{
	width:140px;
	height:28px;
	border:#d3d3d3 solid 1px;
	float:left;
	display:inline;
	margin-left:10px;
	background:url(../images/bt_ico.gif) no-repeat right;
	padding-left:7px;
	color:#7c7c7c;
}
#birthday_type_ul{
	background: none repeat scroll 0 0 #ffffff;
    border: 1px solid #d3d3d3;
    left: 0;
    overflow: hidden;
    padding: 1px;
	position:absolute;
	left:169px;
	top:30px;
	z-index:10;	
}
#birthday_type_ul li{
	width:135px;
	padding-left:10px;
}
#birthday_type_ul li:hover{
	background:#CCC;
	color:#FFF;
}
#birthday_type_ul1{
	background: none repeat scroll 0 0 #ffffff;
    border: 1px solid #d3d3d3;
    left: 0;
    overflow: hidden;
    padding: 1px;
	position:absolute;
	left:169px;
	top:30px;
	z-index:10;	
}
#birthday_type_ul1 li{
	width:135px;
	padding-left:10px;
}
#birthday_type_ul1 li:hover{
	background:#CCC;
	color:#FFF;
}

.MianRight_mianTitlesNavBJn_mianSpangh_dq2{
	width:90px;
	height:28px;
	border:#d3d3d3 solid 1px;
	float:left;
	display:inline;
	margin-left:10px;
}
.MianRight_mianTitlesNavBJn_mianSpangh_dq2 input{
	width:70px;
	height:25px;
	line-height:25px;
	border:0;
	padding-left:7px;
	color:#7c7c7c;
}
MianRight_mianTitlesNavBJn_mian{
	width:100%;
	height:36px;
	position:relative;
	margin:20px 0;
}
.MianRight_mianTitlesNavBJn_mianLeft{
	width:130px;
	height:36px;
	line-height:36px;
	float:left;
	text-align:right;
	padding-right:9px;
	font-size:16px;
}
.MianRight_mianTitlesNavBJn_mianZong{
	width:305px;
	height:36px;
	line-height:36px;
	float:left;
}
.MianRight_mianTitlesNavBJn_mianZong_input{
	width:295px;
	height:36px;
	line-height:36px;
	float:left;
	background:url(../images/text_bj.gif) no-repeat;
	padding-left:10px;
	color:#949494;
}
.MianRight_mianTitlesNavBJn_mianZongT{
	width:303px;
	height:34px;
	float:left;
	border:#d3d3d3 solid 1px;
}
.MianRight_mianTitlesNavBJn_mianZongT input{
	width:295px;
	height:32px;
	border:0;
	padding-left:5px;
}
.MianRight_mianTitlesNavBJn_mianRight{
	width:100px;
	height:36px;
	/*line-height:35px;*/
	float:left;
	display:inline;
	margin-left:10px;
}
.MianRight_mianTitlesNavBJn_mian4{
	width:100%;
	height:36px;
	position:relative;
	margin:20px 0;
}